@font-face {
  font-family: "Filson Pro Regular";
  src: url("/fonts/Filson/FILSONPROREGULAR.OTF");
}
@font-face {
  font-family: "TTtravels Next Bold";
  src: url("/fonts/TTtravels/TTTRAVELSNEXTBOLD.OTF");
}
@font-face {
  font-family: "TTtravels Next Demibold Italic";
  src: url("/fonts/TTtravels/TTTRAVELSNEXTDBOLDI.OTF");
}
@font-face {
  font-family: "TTtravels Next Demibold";
  src: url("/fonts/TTtravels/TTTRAVELSNEXTDBOLD.OTF");
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101010;
  filter: invert(100%);

  --lighter-beige: #f2d8a0;
}
body,
html {
  margin: 0;
  padding: 0;
  color: white;
}
* {
  box-sizing: border-box;
  font-family: "Filson Pro Regular", sans-serif;
  color: var(--lighter-beige);
  margin: 0;
  padding: 0;
  scrollbar-width: 0;
  -ms-overflow-style: none;
  user-select: none;
}

body {
  overflow-y: scroll; /* ensure scrollability */
  scrollbar-width: none; /* hide scrollbar */
}

*::-webkit-scrollbar {
  display: none;
}

body::-moz-scrollbar {
  width: 0; /* Firefox */
}
ul ::marker {
  /* content: ""; */
  font-size: 25px;

  /* margin-right: 20px; */
}

/* li {
  margin-left: 20px;
}
li p {
  margin-left: 5px;
} */
